:root {
    /*Good colors*/
    --background-color: #000;
    --background-accent: #A23448;
    --text-link: #FF0000;
    --background-modifier-hover: #1a1a1a;
    --background-modifier-active: #252525;
    --background-modifier-selected: #363636;
    --background-modifier-accent: #141414;
    --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
    --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
    /*Configure HorizontalServerList*/
    --HSL-server-icon-size: 30px;  /* Size of the server icons | DEFAULT: 40px */
    --HSL-server-spacing: 2px;  /* Spacing between each server icon | DEFAULT: 10px */
    /*Configure RadialStatus*/
    --rs-avatar-shape: 0% !important;
    --rs-online-color: #43b581;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-streaming-color: #643da7;
    --rs-offline-color: #636b75;
    --rs-invisible-color: #747f8d;
    --rs-width: 1.5px;
    --font-primary: JetBrainsMono Nerd Font Mono;
}
